{% extends "admin/base_site.html" %}

{% block content %}
    <div class="module">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {% include "admin/submit_line.html" %}
            <input type="submit" value="Generate user">
        </form>
    </div>
{% endblock %}