<a href="{{ url }}" id="url">{{ url }}</a> <button onclick="copyToClipboard()" style="background-color: white; margin: .5rem;">📋️</button>
<script>
    function copyToClipboard() {
        var text = document.getElementById("url").innerText;

        var tempInput = document.createElement("input");
        tempInput.setAttribute("value", text);
        document.body.appendChild(tempInput);

        tempInput.select();
        tempInput.setSelectionRange(0, 99999); // For mobile devices
        document.execCommand("copy");

        document.body.removeChild(tempInput);
    }
</script>
