{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="{% url 'admin:generate_user' %}" class="button">Generate user 🔑</a>
    </li>
{% endblock %}
