 <!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Rervamelon</title>
  <meta name="author" content="Alfred">
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  {% block head  %} {% endblock  %}
</head>
<body class="h-screen flex justify-center bg-[#edf2f7]">
  {% block body  %}{% endblock  %}
</body>
</html>
