{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'reservamelon/css/styles.css' %}" type="text/css">
<script src="{% static 'reservamelon/js/htmx.min.1.9.7.js' %}" type="module"></script>
{% block reservamelon_head %}{% endblock %}
{% endblock %}

{% block body %}
<div class="w-full max-w-xl">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-4">
        <div class="flex flex-row justify-end">
            <div id="logo" class="flex flex-row items-center cursor-pointer mb-4 z-10">
                <span class="uppercase mr-4">
                    {{ request.user }}
                </span>
                <img class="w-14 active:scale-75 {% if settings.logo_shadow %} shadow-md{% endif %}" src="{{ settings.logo_url }}">
            </div>
        </div>
        <div id="content">
        {% block reservamelon_body %}{% endblock %}
        </div>
    </div>
    <div class="flex justify-center mb-3 text-xs">
        <a href="https://git.alfredgg.dev/alfred/reservamelon" class="text-slate-500">Reservamelon is Open Source</a>
    </div>
</div>


<div id="menu">
    <ul>
      <li><a href="{% url 'home' %}">Reservar</a></li>
        <li><a href="{% url 'my_reservations' %}">Les meves reserves</a></li>
        <li><a href="{% url 'profile' %}">Les meves dades</a></li>
        {% if settings.allow_messages %}<li><a href="{% url 'message' %}">Enviar un comentari</a></li>{% endif %}
      <li><a href="#" hx-post="{% url 'logout' %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-target="body">Sortir de l'app</a></li>
    </ul>
</div>
<style>
#menu{
  z-index:1;
  min-width:100%;
  min-height:100%;
  position: fixed;
  top:0;
  height:0;
  visibility: hidden;
  opacity: 0;
  text-align:center;
  padding-top:20px;
  transition: all 0.3s ease-in-out;
}

#menu ul {
    padding-top: 5rem;
}

#menu.overlay{
  visibility: visible;
  opacity: 1;
  padding-top:100px;
  background: #334155;
}

#menu li{
  list-style:none;
}

#menu a{
  color:#fff;
  display:block;
  font-size: 32px;
  margin-bottom:30px;
  text-decoration:none;
}

no-scroll {
}
</style>
<script>
    var burgerMenu = document.getElementById('logo');
    var overlay = document.getElementById('menu');
    burgerMenu.addEventListener('click',function(){
      overlay.classList.toggle("overlay");
      document.body.classList.toggle("overflow-hidden");
      window.scrollTo(0, 0);
      burgerMenu.classList.toggle("text-slate-300");
    });
</script>
{% endblock %}