<div id="calendar" class="w-full">
  <div class="text-lg font-bold flex flex-row">
    <div class="w-full text-right">
      <span class="bg-white hover:bg-gray-100 text-gray-800 font-semibold px-1 border border-gray-400 rounded shadow cursor-pointer" onclick="changeCalendar({{ calendar.previous_month.year }}, {{ calendar.previous_month.month}});">«</span>
    </div>
    <div class="w-full text-center">{{ calendar.month_name }}, {{ calendar.year }}</div>
    <div class="w-full text-left">
      <span class="bg-white hover:bg-gray-100 text-gray-800 font-semibold px-1 border border-gray-400 rounded shadow cursor-pointer" onclick="changeCalendar({{ calendar.next_month.year }}, {{ calendar.next_month.month}});">»</span>
    </div>
  </div>
  <table class="w-full text-center mt-2 border-separate">
    <thead>
      <tr>
        {% for name in calendar.day_names %}
        <th>{{ name }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for row in calendar.rows %}
    <tr>
      {% for day in row %}
      <td class="py-2 rounded-md cursor-pointer" onclick="setMoment('{{ day.sdate }}');" id="{{ day.sdate }}" data-color="{{ day.color }}" name="calendarcell">
        {% if day.has_passed %}
        <span class="text-cyan-700"> {{ day.number }} </span>
        {% elif day.is_current_month %}
        <span class="text-gray-950"> {{ day.number }} </span>
        {% else %}
        <span class="text-gray-500">{{ day.number }}</span>
        {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<script>
  (function () {
    currentYear = {{ calendar.year }};
    currentMonth = {{ calendar.month }};
    var elements = Array.from(document.getElementsByName("calendarcell"));
    elements.forEach(e => {
      if (e.dataset.color === "alert") e.classList.add(calendarAlertColor);
      else if (e.dataset.color === "full") e.classList.add(calendarFullColor);
    });
    let current = document.getElementById(currentSelected);
    if (current === null) return;
    current.classList.remove(calendarAlertColor);
    current.classList.remove(calendarFullColor);
    current.classList.add(calendarSelectedColor);
  })();
</script>