<div
        class="flex flex-wrap -mx-3 mb-6"
        id="{{ field.id_for_label }}_container"
        {# If we let this, those opened periods will be closed: hx-get="{% url 'day' %}?element={{ element.hashid }}&moment={{moment}}" hx-trigger="every 30s" #}
        hx-target="this"
        hx-swap="outerHTML"
>
    <div class="w-full px-3">
        <h1 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900">
            Reserves per {{ element.name }} el dia {{ date }}
        </h1>

        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-slate-300">
                <tr>
                    <th scope="col" class="px-2 py-2">
                        Hora
                    </th>
                    <th scope="col" class="px-2 py-2 size-full">
                        Reserva
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for day in reservations %}

                {% if forloop.counter0 == 0 %}
                <tr class="bg-gray-200 cursor-pointer border-b-2 border-slate-50" data-period="matinada" onclick="showRanges(this);"><td scope="row" class="px-2 py-4 text-lime-700" colspan="2">Franja <span class="font-bold">Matinada</span> lliure (fins les 7h)</td></tr>
                {% elif forloop.counter0 == 7 %}
                <tr class="bg-gray-200 cursor-pointer border-b-2 border-slate-50" data-period="mati" onclick="showRanges(this);"><td scope="row" class="px-2 py-4 text-lime-700" colspan="2">Franja <span class="font-bold">Matí</span> lliure (de 7h a 12h)</td></tr>
                {% elif forloop.counter0 == 12 %}
                <tr class="bg-gray-200 cursor-pointer border-b-2 border-slate-50" data-period="migdia" onclick="showRanges(this);"><td scope="row" class="px-2 py-4 text-lime-700" colspan="2">Franja <span class="font-bold">Migdia</span> lliure (de 12h a 15h)</td></tr>
                {% elif forloop.counter0 == 15 %}
                <tr class="bg-gray-200 cursor-pointer border-b-2 border-slate-50" data-period="tarda" onclick="showRanges(this);"><td scope="row" class="px-2 py-4 text-lime-700" colspan="2">Franja <span class="font-bold">Tarda</span> lliure (de 15h fins 21h)</td></tr>
                {% elif forloop.counter0 == 21 %}
                <tr class="bg-gray-200 cursor-pointer border-b-2 border-slate-50" data-period="nit" onclick="showRanges(this);"><td scope="row" class="px-2 py-4 text-lime-700" colspan="2">Franja <span class="font-bold">Nit</span> lliure (fins les 12 de la nit)</td></tr>
                {% endif %}

                <tr
                    class="bg-white border-b"
                    onclick="document.getElementById('time-range').value = {{ day.0 }}; document.getElementById('time-range').oninput();{% if not day.1 %} makeScroll('#lastday');{% endif %}"
                    {% if forloop.counter0 < 7 %}
                    data-period="matinada"
                    {% elif forloop.counter0 < 12 %}
                    data-period="mati"
                    {% elif forloop.counter0 < 15 %}
                    data-period="migdia"
                    {% elif forloop.counter0 < 21 %}
                    data-period="tarda"
                    {% else %}
                    data-period="nit"
                    {% endif %}
                    style="display: none;"
                >
                    {% if forloop.counter0 >= hour_now %}
                    <td scope="row" class="px-2 py-2 font-medium text-gray-900">{{ day.0|stringformat:"02d" }}:00</td>
                    {% else %}
                    <td scope="row" class="px-2 py-2 font-medium text-gray-450">{{ day.0|stringformat:"02d" }}:00</td>
                    {% endif %}
                    <td scope="row" class="px-2 py-2 font-medium text-gray-900">
                        {% for reservation in day.1 %}
                        <div
                            {% if reservation.name == request.user %}
                            class="bg-emerald-200 p-2 rounded  {% if not forloop.first %}mt-1{% endif %} {% if not reservation.has_passed %}cursor-pointer{% endif %}"
                            {% if not reservation.has_passed %}onclick="window.location = '{% url 'reservation' reservation.hashid %}';"{% endif %}
                            {% elif reservation.is_subreservation %}
                            class="bg-amber-200 p-2 rounded  {% if not forloop.first %}mt-1{% endif %}"
                            {% elif reservation.is_block %}
                            class="bg-stone-200 p-2 rounded  {% if not forloop.first %}mt-1{% endif %}"
                            {% else %}
                            class="bg-purple-200 p-2 rounded  {% if not forloop.first %}mt-1{% endif %}"
                            {% endif %}
                        >
                            {% if reservation.is_reservation %}
                            <span><strong>{{ reservation.name }}</strong></span>
                            {% else %}
                            <span><strong>{% if reservation.emoji %}{{ reservation.emoji }} {% endif %}{{ reservation.title }}</strong></span>
                            {% endif %}
                            {% if reservation.localmoments.0.date == reservation.localmoments.1.date %}
                            <span class="ml-2">{{ reservation.localmoments.0.time|time:"H:i" }} - {{ reservation.localmoments.1.time|time:"H:i" }}</span>
                            {% else %}
                            <br><span>{{ reservation.localmoments.0 }} - {{ reservation.localmoments.1 }}</span>
                            {% endif %}
                            {% if reservation.notes %}<br><span class="text-xs text-slate-500">{{ reservation.notes }}</span>{% endif %}
                        </div>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <span id="lastday"></span>
    </div>
</div>

<script>
    var currentReservation = null;
    var reservations = {{ json_reservations | safe }};
    var currentDayReadable = "{{ date }}";

    function makeScroll(value) {
        var frames = 50;
        var element = document.querySelector(value);
        var initial = document.documentElement.scrollTop;
        var step = (element.offsetTop - initial) / frames;
        var move = 0;
        function frame() {
            move+=1;
            current = Math.round(initial + (move * step));
            window.scrollTo(0, current);
            if (move == frames) {
              clearInterval(animate);
              // window.location.hash = value;
            }
        }
        var animate = setInterval(frame, 10);
    }

    function showRanges(element) {
        Array.from(document.getElementsByTagName("tr")).forEach(e => {
            if (e.dataset.period === element.dataset.period) e.style.display = "table-row";
        });
        element.style.display = "none";
    }

    (function () {
        /*
        On load we get all the rows by its period. If one of them or more in the same period
        contain a div (a reservation), we expand that period.
        */
        const periods = Array.from(new Set(Array.from(document.getElementsByTagName("tr")).map(e => e.dataset.period).filter(e => e !== undefined)));
        periods.forEach(period => {
            const trs = Array.from(document.getElementsByTagName("tr")).filter(e => e.dataset.period === period);
            const trs_with_div = trs.filter(tr => tr.querySelector("div") !== null);
            if (trs_with_div.length !== 0) {
                trs.forEach(tr => tr.style.display = "table-row");
                trs[0].style.display = "none";
            }
        });

        strReservation();
    })();
</script>