{% for error in errors %}
<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-3" role="alert">
  <span class="block sm:inline">{{ error }}</span>
</div>
{% endfor %}

{% for field, errors in fields %}
{% if errors %}
<div class="flex flex-wrap -mx-3 mb-6">
    <div class=" w-full px-3">
        <span class="block bg-red-100 border border-red-400 text-red-700 px-3 py-3 rounded w-full">
          {{ errors }}
        </span>
    </div>
</div>
{% endif %}
<div class="flex flex-wrap -mx-3 mb-6" id="{{ field.id_for_label }}_container">
    <div class="w-full px-3">
      <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="{{ field.id_for_label }}">
          {{ field.label_tag }}
      </label>
      {{ field }}
    </div>
</div>
{% if forloop.last %}
  {% for field in hidden_fields %}{{ field }}{% endfor %}
{% endif %}
{% endfor %}