{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'reservamelon/css/styles.css' %}" type="text/css">
{% block reservamelon_head %}{% endblock %}
{% endblock %}

{% block body %}


<div class="w-full max-w-xl">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-4">
        <div class="flex flex-row justify-center my-5">
            <img id="logo" class="w-20 active:scale-75 {% if settings.logo_shadow %}shadow-md{% endif %}" src="{{ settings.logo_url }}" onclick="addEasterEgg();">
        </div>
        <div id="content">

        <form method="POST">
            {% csrf_token %}
            {# logo #}
            {{ form.as_div }}
            <div class="submit-row text-center">
                <input type="submit" value="Accedir" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
            </div>
        </form>

        </div>
    </div>
    <div class="flex justify-center mb-3 text-xs">
        <a href="https://git.alfredgg.dev/alfred/reservamelon" class="text-slate-500">Reservamelon is Open Source</a>
    </div>
</div>

<script>
    let easter_egg = 0;

    function addEasterEgg() {
        easter_egg ++;
        if (easter_egg == 10) document.getElementById("logo").src = "{% static "reservamelon/melon.gif" %}";
    }
</script>

{% endblock %}