{% extends "reservamelon/simple_form.html" %}

{% block reservamelon_body %}
{% if messages %}
{% for message in messages %}
    {% if message.tags == "error" %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-3" role="alert">
          <span class="block sm:inline">{{ message }}</span>
        </div>
    {% else %}
        <div class="flex items-center bg-blue-500 text-white text-sm font-bold px-4 py-3 mb-3" role="alert">
          👍️<p class="ml-2">{{ message }}</p>
        </div>
    {% endif %}
{% endfor %}
{% endif %}
<h2 class="mb-5">Les meves reserves</h2>

{% if not request.user.future_reservations %}
<div class="w-full pt-3 text-center block tracking-wide text-gray-700 text-xs font-bold mt-2">
    No tens cap reserva
</div>
{% else %}
{% include "reservamelon/reservations_list.html" with reservations=request.user.future_reservations editable=True %}
{% endif %}

{% if user.past_reservations %}
<h2 class="mb-5">Les meves reserves pasades</h2>
{% include "reservamelon/reservations_list.html" with reservations=request.user.past_reservations edtable=False %}
{% endif %}

{% endblock %}