{% extends "reservamelon/simple_form.html" %}

{% block reservamelon_body %}
{% if messages %}
{% for message in messages %}
    {% if message.tags == "error" %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-3" role="alert">
          <span class="block sm:inline">{{ message }}</span>
        </div>
    {% else %}
        <div class="flex items-center bg-blue-500 text-white text-sm font-bold px-4 py-3 mb-3" role="alert">
          👍️<p class="ml-2">{{ message }}</p>
        </div>
    {% endif %}
{% endfor %}
{% endif %}
<h2 class="mb-5">Canvia les teves dades</h2>
{{ block.super }}

<hr class="my-5">
<h2 class="mb-5">Canvia el teu password</h2>
<form method="POST" action="{% url 'change_password' %}">
    {% csrf_token %}
    {{ password_form.as_div }}
    <div class="submit-row text-center">
        <input type="submit" value="Canviar password" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
    </div>
</form>

{% endblock %}