{% extends "reservamelon/base.html" %}

{% block reservamelon_body %}
    <div style="display: none">
        {% for detail in details %}
        <div id="element-{{ detail.id }}" class="mb-6 text-xs">
            {% if detail.image %}<img src="{{ detail.image }}" class="mb-3" /> {% endif %}
            <div>{{ detail.description|safe }}</div>
        </div>
        {% endfor %}
    </div>
    <form method="POST">
        {% if messages %}
        {% for message in messages %}
            {% if message.tags == "error" %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-3" role="alert">
                  <span class="block sm:inline">{{ message }}</span>
                </div>
            {% else %}
                <div class="flex items-center bg-blue-500 text-white text-sm font-bold px-4 py-3 mb-3" role="alert">
                  👍️<p class="ml-2">{{ message }}</p>
                </div>
            {% endif %}
        {% endfor %}
        {% endif %}

        {% csrf_token %}
        {{ form.as_div }}
        <div class="submit-row text-center">
            <input type="submit" value="Enviar" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
        </div>
    </form>

<script>
    var currentSelected = "{{ smoment }}";
    var currentMonth = {{ date.month }};
    var currentYear = {{ date.year }};
    var calendarSelectedColor = "bg-sky-200";
    var calendarAlertColor = "bg-amber-300";
    var calendarFullColor = "bg-rose-300";
    var calendarQueried = "";

    function updateDay() {
        let moment = document.getElementById("id_moment").value;
        let element = document.getElementById("id_element").value;
        if ((moment === "") &&  (currentSelected !== "")) {
            document.getElementById("id_moment").value = currentSelected;
            moment = currentSelected;
        }

        if ((element === "") || (moment === "")) {
            document.getElementById("day_detail").innerHTML = "";
            document.getElementById("day_detail").innerText = "";
            let query = (element !== "") ? `?element=${element}` : "";
            htmx.ajax('GET', `/calendar/${currentYear}/${currentMonth}${query}`, '#calendar');
            return;
        }
        htmx.ajax('GET', `{% url 'day' %}?element=${element}&moment=${moment}`, '#day_detail');
        let calendarToQuery = `${currentYear}-${currentMonth}-${element}`;
        if (calendarToQuery === calendarQueried) return;
        htmx.ajax('GET', `/calendar/${currentYear}/${currentMonth}?element=${element}`, '#calendar');
        calendarQueried = calendarToQuery;
    }

    function showElementDetails() {
        let elementDetails = document.getElementById("details");
        if (elementDetails !== null) elementDetails.remove();
        let element = document.getElementById("id_element").value;
        let node = document.getElementById(`element-${element}`);
        if (node === null) {
            return;
        }

        const subject = document.querySelector("#id_element_container");
        const new_node = node.cloneNode(true);
        new_node.id = "details";
        subject.insertAdjacentHTML(
            "afterend",
            new_node.outerHTML
        );
    }

    function onElementChange() {
        updateDay();
        showElementDetails();
    }

    document.addEventListener("DOMContentLoaded", function(){
      const subject = document.querySelector("#id_moment_container");
      subject.insertAdjacentHTML(
        "afterend",
        "<div id='day_detail'></div>",
      );
      document.getElementById("id_moment").onchange = updateDay;
      document.getElementById("id_element").onchange = onElementChange;
      onElementChange();

      window.scrollTo(0, 0);
    });

    function setMoment(moment) {
        let previous = document.getElementById(currentSelected);
        let current = document.getElementById(moment);

        previous && previous.classList.remove(calendarSelectedColor);

        if (previous && previous.dataset.color === "alert") { previous.classList.add(calendarAlertColor); }
        else if (previous && previous.dataset.color === "full") { previous.classList.add(calendarFullColor); }

        currentSelected = moment;
        document.getElementById('id_moment').value=moment;
        document.getElementById('id_moment').dispatchEvent(new Event('change'));

        current.classList.remove(calendarAlertColor);
        current.classList.remove(calendarFullColor);
        current.classList.add(calendarSelectedColor);
    }

    function changeCalendar(year, month) {
        let element = document.getElementById("id_element").value;
        htmx.ajax('GET', `/calendar/${year}/${month}?element=${element}`, '#calendar');
    }

    document.addEventListener('DOMContentLoaded', function () {
        let element = document.getElementById("id_element").value;
        htmx.ajax('GET', `/calendar/${currentYear}/${currentMonth}?element=${element}`, '#calendar');
    }, false);
</script>

{% endblock %}