{% for error in errors %}
<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-3" role="alert">
  <span class="block sm:inline">{{ error }}</span>
</div>
{% endfor %}

{% for field, errors in fields %}
<div class="flex flex-wrap -mx-3 mb-6" id="{{ field.id_for_label }}_container">
    <div class="w-full px-3">
    {% if field.name == "moment" %}
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
          {{ field.label_tag }}
      </label>
      <div id="calendar"></div>
      <input type="hidden" value="{{ smoment }}" name="moment" id="id_moment" />
    {% elif field.name == "hours" %}
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"  for="hours-range">
        {{ field.label_tag }}
        </label>
        <input id="hours-range" type="range" min="0.5" max="24" value="0.5" step="0.5" class="w-full h-3 bg-gray-200 rounded-lg appearance-none cursor-pointer range-lg dark:bg-gray-700">
        <span id="hours-range-output"></span>
        <input type="hidden" name="hours" id="id-hours" />
    {% elif field.name == "time" %}
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"  for="time-range">
        {{ field.label_tag }}
        </label>
        <input id="time-range" type="range" min="0" max="24" value="0.5" step="0.5" class="w-full h-3 bg-gray-200 rounded-lg appearance-none cursor-pointer range-lg dark:bg-gray-700">
        <span id="time-range-output"></span>
        <input type="hidden" name="time" id="id-time" />
    {% else %}
      <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2"  for="{{ field.id_for_label }}">
          {{ field.label_tag }}
      </label>
      {{ field }}
    {% endif %}
    {% if field.name == "hours" %}
    <div class="w-full pt-3 text-center block tracking-wide text-gray-700 text-xs font-bold mt-2">
        <span id="reserva"></span>
    </div>
    {% endif %}
    </div>
</div>

{% if forloop.last %}
  {% for field in hidden_fields %}{{ field }}{% endfor %}
{% endif %}
{% endfor %}

<script>
function strReservation() {
    let span = document.getElementById("reserva");
    let start = parseFloat(document.getElementById("time-range").value);
    let hours = parseFloat(document.getElementById("hours-range").value);
    let end = start + hours;
    let post = "";
    if (end > 24) {
        end = end - 24;
        post = " del dia següent";
    }
    let iStart = parseInt(start);
    let iEnd = parseInt(end);

    let minsStart = (parseFloat(iStart) !== start) ? ":30" : ":00";
    let minsEnd = (parseFloat(iEnd) !== end) ? ":30" : ":00";
    let preStart = (iStart === 1) ? "la" : "les";
    let preEnd = (iEnd === 1) ? "la" : "les";

    let horaInici = `${iStart}${minsStart}`;
    horaInici = (horaInici === "24:00") ? "23:59" : horaInici;

    let currentDate = (typeof(currentDayReadable) !== "undefined") ? `${ currentDayReadable }. ` : "";
    let currentElement = document.getElementById("id_element");
    let currentElementStr = (currentElement.value !== "") ? `${currentElement.options[currentElement.selectedIndex].textContent}. ` : "";

    span.innerHTML = `${currentElementStr}${currentDate}Des de ${preStart} ${horaInici} fins ${preEnd} ${iEnd}${minsEnd}${post}.`;
}

document.getElementById("hours-range").oninput = function() {
    let value = parseFloat(this.value);
    let output = document.getElementById("hours-range-output");
    if (value === 0.5) output.innerHTML = "Mitja hora";
    else if (value === 24.0) output.innerHTML = "Un dia";
    else {
        let iValue = parseInt(value);
        let strHour = (iValue === 1) ? "hora" : "hores";
        output.innerHTML = `${iValue} ${strHour}`;
        if (parseFloat(iValue) !== value) output.innerHTML = `${output.innerHTML} i mitja`
    }
    document.getElementById("id-hours").value = this.value;
    strReservation();
}
document.getElementById("hours-range").oninput();

document.getElementById("time-range").oninput = function() {
    let value = parseFloat(this.value);
    let output = document.getElementById("time-range-output");

    /*
    let iValue = parseInt(value);
    let rang = "";
    if (iValue < 7) rang = "de la matinada";
    else if (iValue < 12) rang = "del matí";
    else if (iValue < 15) rang = "del migdia";
    else if (iValue < 21) rang = "de la tarda";
    else rang = "de la nit";

    if ((iValue - 12) > 0) iValue = iValue - 12;
    if (iValue === 0) iValue = 12;
    */

    let iValue = parseInt(value);
    let mins = (parseFloat(iValue) !== value) ? ":30" : ":00";
    let endValue = `${iValue}${mins}`;
    if (endValue === "24:00") endValue = "23:59";
    output.innerHTML = endValue;
    document.getElementById("id-time").value = endValue;
    strReservation();
}
document.getElementById("time-range").oninput();

(function () {
    let value = "{{ form.time.value|time:"H:i" }}";
    let decimals = (value.endsWith('00')) ? 0 : 0.5;
    let number = parseFloat(value.substring(0, value.indexOf(":")));
    document.getElementById("time-range").value = number + decimals;
    document.getElementById("time-range").oninput();
})();
</script>

