<ul>
{% for reservation in reservations %}
<li class="my-5 p-3 border-solid border border-stone-300 rounded {% if editable %}cursor-pointer{% endif %}" {% if editable %}onclick="window.location = '{% url 'reservation' reservation.hashid %}';"{% endif %}>
    <span class="text-sm text-stone-500">{{ reservation.moment }} fins {{ reservation.moment_end }}</span>
    <br>
    <strong class="text-stone-700">{{ reservation.element }}</strong>
</li>
{% endfor %}
</ul>