{% extends "base.html" %}

{% block body %}
<form method="POST">
    {% csrf_token %}
    {{ form.as_div }}
    <div class="submit-row text-center">
        <input type="submit" value="Enviar" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
    </div>
</form>
{% endblock %}