{% extends "reservamelon/base.html" %}

{% block reservamelon_body %}

<form method="POST">
    {% csrf_token %}
    {{ form.as_div }}
    {% block buttons %}
    <div class="submit-row text-center">
        <input type="submit" value="{{ buttontext|default:'Enviar' }}" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
    </div>
    {% endblock %}
</form>

{% endblock %}