{% extends "reservamelon/simple_form.html" %}

{% block buttons %}
    <div class="submit-row flex flex-row justify-between">
        <input type="button" value="Eliminar" class="bg-red-600 hover:bg-red-500 text-white font-semibold py-2 px-4 border border-gray-400 rounded shadow" onclick="delete_reservation('{{ reservation.hid }}');">
        <input type="submit" value="Actualitzar reserva" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
    </div>
{% endblock %}

{% block reservamelon_body %}
<h2 class="mb-5">Edita la teva reserva</h2>
<h3 class="mb-5 text-stone-500">{{ reservation.element.name }}, {{ reservation.moment.date }}</h3>
{{ block.super }}


<script>
     function delete_reservation(id) {
        if (confirm(`Vols eliminar aquesta reserva?`)) {
            window.location = `{% url 'delete_reservation' %}?reservation={{ reservation.hashid }}`;
        }
    }
</script>

{% endblock %}