{% if widget.readonly %}
<input type="hidden" name="{{ widget.name }}" value="" />
{% else %}
<select
        name="{{ widget.name }}"
        {% include "django/forms/widgets/attrs.html" %}
        class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
>
  {% for group_name, group_choices, group_index in widget.optgroups %}
  {% if group_name %}
  <optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
  {% include option.template_name with widget=option %}{% endfor %}{% if group_name %}
  </optgroup>{% endif %}{% endfor %}
</select>
{% endif %}